#about-home{
    background-image: linear-gradient(rgba(9, 5, 54 ,0.3), rgba(5, 4, 46, 0.7)), url('../image/bg2.jpg');
    width:100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
} 

#about-home h2{
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

/* index1  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-text-font:'Times New Roman', Times, serif;
}
li{
    list-style: none;
    color: #0a0a0a;
}
a{
    text-decoration: none;
    color: #000000;
}
.space-between{
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
    padding: 0 20px 0 20px ;
}
.top{
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,0.3);
    transition: all 0.3s ease;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    height: 80px;
    align-items: center;
    background:rgba(255,255,255,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}
header.sticky{
    background:rgb(242, 133, 9, 1)
}
header:hover{
    background:rgb(242, 133, 9, 1)
}

.logo{
    flex: 1;
    margin-top: 20px;
}
.menu{
    flex: 3;
    display: flex;
    
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu>li:hover .sub-menu{
    transition: 3s;
    visibility: visible;
    top: 30px;
}
.menu li ul{
    display: none;
    min-width: 350px;
    position: absolute;
}
.menu li>ul li{
    width: 100%;
    border: none;
    text-align: left;
}
.menu li>ul li:first-child a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.menu li>ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu li>ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*khi hover thì hiện menu con*/
.menu  li:hover > ul{
    display:  block;
}
.menu ul li:hover>a{
    background: red;
    opacity: 0.7;
    color: yellow;
}
/*Hiển thị menu con cấp 2,3,4 bên cạnh phải*/
.menu > ul li > ul li >ul{
    margin-left: 352px;
    margin-top: -50px;
}
.sub-menu{
    padding: 2px;
    position: absolute;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: inherit;
    top: -50px;
    transition: 10s;
    z-index: 1;
    background: #ffff;
}
.sub-menu ul{
    padding-left: 20px;
    background:#bdbdbd;
    margin-left: 152px;
}
.sub-menu ul li ul li ul li ul{
    padding-left: 20px;
    background:#bdbdbd;
    margin-left: 152px;
}
.sub-menu li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.menu li a{
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 30px;
}
.khac{
    flex: 2;
    display: flex;
}
.khac > li{
    padding: 0 12px;
    right: -40px;
    position: relative;
}
.khac > li:first-child{
    position: relative;
}
.khac > li:first-child input {
    width: 100%;
    height: 30px;
    border: none; 
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.khac > li:first-child i {
   position: absolute;
   margin-top: 7px;
   right: 15px;
}
.khac > li:last-child::after{
    display: none;
}

.khac > li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
#Slider{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 3px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 40.25%;
    transition: 0.3s;
}
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 18px;
    width: 18px;
    background-color: #c1b7b7;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #000000;
}

/* ------------------------------app_mxh----------------- */
.app_container{
    text-align: center;
    align-items: center;
    padding: 50px 0 50px 0;
    border-bottom: 2px solid #000;

}
.app_mxh{
    margin: 50px;
    padding: cover;

}
.app_mxh img{
    height: 50px;
}
.app_container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app_container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid orange;
    padding-bottom: 20px;
    outline: none;
    width: 400px;
    text-align: center;
}



/* ------------------------------tg & mon------------------------ */
.TGvsMON{
    text-align:center;
    align-items:center;
    padding: 50px 0 50px 0;
    top: 20px;
    border-bottom: 2px solid #000;
}
.alola{
    text-align: center;
    align-items: center;
    display: flex;
}
.alola#MON{
    width: 150px;
    float: left;
    
}

#MON img{
    width: 60%;
}

.alola#TG{
    width: 150px;
    float: right;
    
}
#TG img{
    width: 60%;
}

.alola a:hover {
    background: #45b6ea !important;
    color: white !important;
    border-radius:5px;
}
.alola a:link, .alola a:visited {
    width: fit-content;
    padding: 0.5em 1em;
    text-align: center;
    float: inherit;
    margin: 0em auto;
    color: #fdfdfd;
    background: #de7214;
   border-radius:5px;
}
.alola a{
    display: block;
}


/* footer */

footer{
    text-align: center;
}
.footer-top{
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li {
    padding: 0 12px;
    position: relative;

}
.footer-top li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;

}
.footer-senter{
    text-align: center;
}


.footer-bottom{
    margin: 20px 0;
    text-align: center;
    font-family:var(--main-text-font);
    background-color: #dddd;
    width: 100%;
    margin-top: 30px;
}
/* end index1 */

/*--------------------- index2---------------- */
.GD{
    padding: 100px;
    border-bottom: 2px solid #000;

}
.GD-top{
    margin-bottom: 50px;
}
.GD-top p{
    font-family:var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.GD-left{
    width: 20%;
}
.GD-right{
    width: 80%;
}
.GD-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.GD-right-top-item{
    flex: 1;
    padding:0 12px;

}
.GD-right-top-item button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
}
.GD-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
}
.GD-right-content{
    margin-top: 20px;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}
.GD-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.GD-right-content-item h1{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 6px;
    color: #000;

}
.GD-right-content-item img{
    width: 100%;

}
.GD-right-content-item p{
    font-size: 12px;
}
.GD-right-content-item i{
    color: gold;
    font-size: 0.9em;
}
.GD-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.GD-right-bottom{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
}
.DG-left ul li{
    padding: 12px 0;
     
}
.DG-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.DG-left ul li ul li{
    padding-left: 10px;

}
.DG-left_li ul{
    display: none;
}
.DG-left_li.block ul{
    display: block;
}
.DG-left ul li ul li a{
    color: #000;
    font-size: 12px;
}


/* index4 */
#course-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}

#course-inner h3{
    padding: 35px 0 25px 0;
    color: #29303B;

}
#course-inner p{
    color: #64626e;

}
#course-inner hr {
    height: 1px;
    color: rgba(236, 226, 229,0.5);
    margin-top: 40px;
}
#course-inner .overview{
    width: 70%;
}
#course-inner .overview img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
#course-inner .overview .course-head{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
#course-inner .overview .course-head .C-name{
    width: 70%;
}
#course-inner .overview .course-head .C-name h2{
    color: #29303B;
}
#course-inner .overview .course-head .C-name .star{
    margin: 6px 0;
}
#course-inner .overview .course-head .C-name .star i{
color: gold;
font-size: 0.9rem;
}
#course-inner .overview .course-head .C-name .star p{
    font-size: 15px;
}
#course-inner .learn p{
    font-size: 15px 20px;
    padding-bottom: 15px;
}
#course-inner .learn p i{
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}
#course-inner .tutor{
    display: flex;

}
#course-inner .tutor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    
}
#course-inner .tutor h5{
    font-size: 15px;
}
#course-inner .them{
    width: 400px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0 20px 40px 0 rgb(11 2 55 /8%);
    margin-left: 40px;
}
#course-inner .them h3{
    padding-bottom:  10px;
}
#course-inner .them p{
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
}
#course-inner .them p i{
    color: #a35918;
    font-weight: 800;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
#course-inner .them .them-btn{
    padding: 2px 0 20px 0;
    margin: auto;
    text-align: center;
}
#course-inner .them .them-btn a{
    text-decoration: none;
    font-size: .8rem;
    padding: 13px 45px; 
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background: rgb(217, 144, 41);
}
/*------------------------- thảo luận ----------------------- */
.title_thaoluan{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#thao_luan{

    background-color: #fff;
    margin-bottom: 2px;
    padding: 30px 20px;
    padding-bottom: 20px;
    position: relative;
}
.group{
    padding: 20px 20px 20px 20px;
    border: 1px solid #000;
    border-radius: 1%;
}
.group_menber1{
    padding: 10px;
}
.user_container{
    border: 2px solid #000;
    border-radius: 20px;
}
.user{
    display: flex;
}
.user-col {
    flex:1;
    margin-bottom: 20px;  
    justify-content: flex-start;  
}
.avatar{
    padding: 20px 10px 20px 10px;
    text-align: left;
    
}
.avatar img{
    border-radius: 50%;
}
.noi_dung{
    width: 60%;
    padding: 10px 20px 10px 10px;
    flex-direction: column;
    justify-content: flex-end;
}
.title{
    padding:1%
}
.content{
    padding:1%
}
.time {
    padding:1%;
}
.thong_tin .mail_1 ,
.thong_tin .last_update{
    margin-bottom:5px;
}

.like{
    display: flex;
    justify-content: flex-end;
}
.noi_dung1{
    margin: 6px;
    width: 60%;
    padding: 10px 20px 10px 10px;
    flex-direction: column;
    justify-content: flex-end;
}
.title1{
    padding: 1%;
}
.title1 p input{
    width: 663px;
    padding: 1%;
}
.content1{
    padding: 1%;
}
.content1 textarea{
    padding: 1%; 
    width: 150%;
    height: 83px;
}
.dang{
    right: -50px;
    padding: 0 90% 5px;
    /* text-align:right ;     */
}
.dang button{
    font-size: 13px;
    width: 100px;
    
}
    
/* phụ thêm */
body{
    margin: 40px;
  }
  
  button{
    cursor: pointer;
    outline: 0;
    color: #AAA;
  
  }
  
  .btn:focus {
    outline: none;
  }
  
  .green{
    color: green;
  }
  
  .red{
    color: red;
  }


/* CSS */
.button_them {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button_them:hover,
.button_them:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.button_them:hover {
  transform: translateY(-1px);
}
.button_them:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.themthem h3{
    margin: 5px;
}
.themthem div{
    margin: 15px;
}
.themthem p{
    font-size: 15px 20px;
    padding-bottom: 15px;
}
.themthem p i{
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}


/*------------------- tham gia------------------ */
.button_them_1 {
    align-items: center;
    margin-top: 6px;
    width: 150px;
    height: 10px;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  .button_them_1:hover,
  .button_them_1:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  .button_them_1:hover {
    transform: translateY(-1px);
  }
  .button_them_1:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .button_them_1 a{
    text-decoration: none;
    color: #ffffff;
  }


